.header {
    height: 34vw;
    margin: 30px auto;
    display: flex;
    background-size: contain;
    position: relative; 
    padding: 10px 0;
     
}
.header-contents  {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    color: white;
    animation: fadeIn 3s;
    

}
.header-contents h2 {
    font-weight: 800;
    color: white;
    font-size: max(4.5w, 22px);
}



.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

.header-image img{
    /* width: 1135px;
    height: 900px; */
    width: 100%;
    opacity:;

    

}

